@import "singolo1.css";

body {
    width: 1020px;
}

:root {
    --dark-color3: #767e9e;
    --white2: #dedede;
}

/* Portfolio */
.page_section__portfolio {
    background: var(--dark-color);
    border-bottom: 6px solid var(--darken-color);
    padding: 51px 0 64px;
    color: var(--dark-color3);
}

.page_section__portfolio_intro {
    letter-spacing: -0.22px;
    margin: 0 0 0.55em
}

.portfolio_filter {
    margin: 0 0 19px;
}

.portfolio_filter__item {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 4px 7px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 6px;
    cursor: pointer;
    transition: .3s;
}

.portfolio_filter__item:first-child {
    margin-left: 0;
}

.portfolio_filter__item.active,
.portfolio_filter__item:hover {
    color: var(--white2);
}

.portfolio_works {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    grid-gap: 20px;
}

.portfolio_works__item {
    position: relative;
}

.portfolio_works__item:hover {
    z-index: 10;
}

.portfolio_works__item:nth-child(12) ~ .portfolio_works__item {
    display: none;
}

.portfolio_filter__item_link {
    display: block;
    padding-top: 85.18%;
    position: relative;
    overflow: hidden;
}

.portfolio_works__item_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.portfolio_filter__item_link:hover .portfolio_works__item_img {
    transform: translate(-50%, -50%) scale(1.2);
}
