@import "singolo1.css";

body {
    width: 1020px;
}

:root {
    --dark-color3: #767e9e;
    --white2: #dedede;
    --pure-white: #fff;
}

/* Portfolio */
.page_section__portfolio {
    background: var(--dark-color);
    border-bottom: 6px solid var(--darken-color);
    padding: 51px 0 64px;
    color: var(--dark-color3);
}

.page_section__portfolio_intro {
    letter-spacing: -0.22px;
    margin: 0 0 0.55em
}

.portfolio_filter {
    margin: 0 0 19px;
}

.portfolio_filter__item {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 4px 7px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 6px;
    cursor: pointer;
    transition: .3s;
}

.portfolio_filter__item:first-child {
    margin-left: 0;
}

.portfolio_filter__item.active,
.portfolio_filter__item:hover {
    color: var(--white2);
}

.portfolio_works {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    grid-gap: 20px;
}

.portfolio_works__item {
    position: relative;
}

.portfolio_works__item:hover {
    z-index: 10;
}

.portfolio_works__item:nth-child(12) ~ .portfolio_works__item {
    display: none;
}

.portfolio_filter__item_link {
    display: block;
    padding-top: 85.18%;
    position: relative;
    overflow: hidden;
}

.portfolio_works__item_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.portfolio_filter__item_link:hover .portfolio_works__item_img {
    transform: translate(-50%, -50%) scale(1.2);
}

/* About Us */
.page_section__about_us {
    padding: 52px 0 67px;
    background: var(--white-bg-color);
    border-bottom: 6px solid var(--pure-white);
    color: var(--text-color);
}

.team_list {
    display: flex;
    margin: 0 -10px;
}

.team_member {
    width: 33.33%;
    margin: 0;
    padding: 0 10px;
}

.team_member__image {
    display: block;
    margin: 0 0 10px;
}

.team_member__info {

}

.team_member__name {
    font-size: 18px;
    font-weight: 900;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 1px;
}

.team_member__description {
    font-size: 12px;
    line-height: 1.8334;
    margin: 0 0 23px;
}

.team_member__social {

}

.team_member__social_item {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    width: 32px;
    height: 32px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    margin-left: 5px;
    box-sizing: border-box;
}

.team_member__social_item:first-child {
    margin-left: 0;
}
